.profile-container {
    display: flex;
    margin-left: 37%;
}

.user-assets {
    border: groove;
    margin-bottom: 50%;
    transform: translateY(50px);
    height: 200px;
    width: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    .account-value {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .cash-balance {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


.stock-table {
    transform: translate(-580px,50%);
}

.balancebtn {
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 6px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
}

    .balancebtn:hover {
        background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
        background-color: #1e62d0;
    }

    .balancebtn:active {
        position: relative;
        top: 1px;
    }
