

.form-bg {
    margin-top: -80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    border: hidden;
    border-radius: 24px;
    padding: 3em;
    margin: 0 -1em;
    color: rgb(242,246,255);

}

.form-header {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 
      Arial, sans-serif;
}

.form-content {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 3px;
    padding: 70px 100px;
}

.form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

 }

.form-inputs {
    display: flex;
    height: 30px;
    font-size: 16px;
    border: 0;
    border-radius: 4px;
    margin-bottom: 20px;

}
    .form-inputs > input {
        border: 0;
        border-bottom: 1px solid #555;
        background: transparent;
        width: 100%;
        padding: 8px 0 5px 0;
        font-size: 16px;
        color: #fff;
        width: 200px;
    }
        .form-inputs input:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid #e74c3c;
        }



.formbtn {
    display: flex;
    font-size: 24px;
    transition: all 0.3s;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}
    .formbtn:hover {
        transform: scale(1.08,1.08);
    }





    