@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@171;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
.uncontainer{
    /* background-color: aliceblue; */
    max-height: 2600px;
}

.usergreeting {
    width: 100%;
    height: 150px;
    padding: 25px;
}

.searchbar{
    width: 100%;
    height: 50px;
     /* border: solid 1px black; */
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 25px;

}

.stockinfodisplay {
    width: 100%;
    height: 650px;
    /* border: solid 1px black; */
    display: inline;
}

.stockinfocenter {
    width: 80%;
    height: 250px;
    /* border: solid 1px black; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.stocklogo {
    /* border: solid 1px black; */
    width: 200px;
    height: 200px;
    margin-left: 30px;
    padding: 30px;
}

.stockinfo {
    /* border: solid 1px black; */
    width: 1000px;
    height: 200px;
    margin-left: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    letter-spacing: .004em;
}

.stockbtn {
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 6px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
    margin-bottom: -200px;
}

    .stockbtn:hover {
        background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
        background-color: #1e62d0;
    }

    .stockbtn:active {
        position: relative;
        top: 1px;
    }

.watchlistbtn {
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 6px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
    margin-bottom: -200px;
    margin-left: 5px;
    transform: translate(-93%, 150%);
    margin-top: 10px;
}

    .watchlistbtn:hover {
        background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
        background-color: #1e62d0;
    }

    .watchlistbtn:active {
        position: relative;
        top: 1px;
    }

.stockdescription{
    width: 80%;
    max-height: 300px;
     /* border: solid 1px black; */
    margin-left: auto;
   margin-right: auto;
     font-size: 10px;
     margin-bottom: 40px;
    
}

.maxstockdescription {
    max-width: 80%;
    max-height: 250px;
    /* border: solid 1px black; */
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.newcycle{
    margin-top: 330px;
    max-width: 80%;
    max-height:1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    margin-bottom: 120px;
    /* background-color: aliceblue; */
    font-family: 'Domine', serif;
}

.descfont {
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.tableinfo{
    max-width: 75vw;
    margin-top: 10px;
    margin-left: -15px;
    max-height: 500px;
}

.wp-table th:first-child,
.wp-table td:first-child {
    padding-left: 16px;
}


.wp-table td,
.wp-table th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.wp-table th {
    font-weight: bold;
}

.wp-table {
    font-size: 15px !important;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

.userfonts {
    color: black;
}

.companyname {
    font-family: 'Josefin Sans';
    font-size: 18px;
    font-weight: bold;
}

.numbers {
    font-family: 'Quattrocento Sans';
    font-weight: bold;
}

.tablenamestyling {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    letter-spacing: .004em;
}

.usergreeting {
    width: 100%;
    height: 150px;
    padding: 25px;
}

.barrr {
    width: 300px;
    height: 35px;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
}

.usergreeting{
    width: 100%;
    height: 150px;
    padding: 25px;
}
.barrr{
    width:300px;
 
    height: 35px;
    font-size: 25px;
    padding:10px;
    border-radius:10px;
}
.input[type=text] {
   
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }
  .rounded-input {
    padding:10px;
    border-radius:10px;
  }

.input[type=submit] {
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    padding:10px;
    border-radius:10px;
    width:300px;
 
    height: 35px;
    padding:10px;
    border-radius:10px;
}
.subbbb{
   
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    padding:10px;
    border-radius:10px;
    width:100px;
    background-color: gray;
    height: 35px;
    padding:10px;
    border-radius:10px;
    margin-left: 10px;
}

  .threeboxes{
    font-family: 'Domine', serif;
    display: flex;
  }
  .boxone{
    
    max-height: 800px;
    width: 23vw;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Domine', serif;
   
   
  }
  .boxtwo{
  
    max-height: 800px;
    width: 23vw;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Domine', serif;
   
  
  }
  .boxthree{
    
    max-height: 800px;
    width: 23vw;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Domine', serif;
   
   
  }
  .newheader{
    margin: 10px;
    font-family: 'Domine', serif;
  }
  .imagebox{
    max-width: 23vw;
    max-height: 23vh;
   margin-top: 15px;
   margin-bottom: 15px;
   
 
  }

 .summary{
    
    text-indent: 25px;
     margin-top: 15px;
     max-width: 23vw;
     max-height: 600px;
     margin-left: auto;
     margin-right: auto;
     font-family: 'Domine', serif;
     font-size: 15px;
     
 }
 .stockGraph{
    margin-top: 10px;
    transform: translate(-15%,0%);
    height: 500px;
    margin-left: auto;
    margin-right: auto;
   
    max-width: 60vw;
   
 }
